* {
	text-align: center;
}

h1{
	color :#ffa53f;
}

body{
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGlPVs48W0DECO0S8u0nSXBmCr4_vw_OGkUbrzdUOc02pQgrvG);
	background-repeat: no-repeat;
	background-size: cover;
}

img, iframe {
	width: 750px;
	height:	360px;
}